<%= form_for @league, url: { action: action } do |f| %>
  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "League name" %>
  </div>

  <div class="field">
    <%= f.text_area :description, placeholder: "Description" %>
  </div>

  <div class="field">
    <%= f.text_area :rules, placeholder: "Rules - type in one rule per line" %>
  </div>

  <div class="field">
    <%= f.text_field :website_url, placeholder: "Website - http://your.site.com" %>
  </div>

  <div class="field">
    <%= f.text_field :logo_url, placeholder: "Logo - http://your.site.com/logo.png" %>
  </div>

  <div class="actions">
    <%= f.submit button_text %>
  </div>
<% end %>
