<div class="row">
  <div class="6u 12u$(xsmall)">
    <h2>Enter match result</h2>
    <div class="actions">
      <%= form_tag(league_add_match_result_path(@league), method: "post") do %>
        <%= radio_button_tag(:won, "1") %>
        <%= label_tag(:won_1, "I won against") %>
        <%= radio_button_tag(:won, "0") %>
        <%= label_tag(:won_0, "I lost against") %>
        <%= select_tag :opponent_id,  options_from_collection_for_select(@opponents, :id, :player_name) %>
        <br/>
        <%= submit_tag "Record Match" %>
      <% end %>
      <br/>
      <%= link_to "Back to #{@league.name}", league_path(@league), class: "button alt" %>
    </div>
  </div>
</div>
