<div class="row">
  <div class="6u 12u$(xsmall)">
    <h2><%= @league.name %></h2>
    <% if @league.website_url %>
      <%= link_to "Website", @league.website_url %>
    <% end %>

    <% if @league.logo_url %>
      <img src="<%= @league.logo_url %>" />
    <% end %>

    <section>
      <p><%= @league.description %></p>
    </section>

    <section>
      <h3>Rules</h3>
      <ol>
        <%
          rules = @league.rules.split("\n") 
          rules.each do |rule|
        %>
        <li><%= rule %></li>  
        <% end %>
      </ol>
    </section>

    <% if @player.owner %>
      <h3>Manage League</h3>  
      <ul class="actions">
        <li><%= link_to "Add match result", league_enter_match_result_path(@league), class: "button" %></li>
        <li><%= link_to "Edit #{@league.name}", edit_league_path(@league), class: "button alt" %></li>
      </ul>
      <div class="actions">
        <%= form_tag(league_invite_path(@league), method: "post") do %>
          <%= label_tag(:email, "Invite user:") %>
          <%= text_field_tag :email, nil, placeholder: "user@email.com" %>
          <br/>
          <%= submit_tag "Invite", id: "invite-user", class: "special" %>
        <% end %>
      </div>
    <% else %>
      <h3>Add match result</h3>  
      <div class="actions">
        <%= link_to "Add match result", league_enter_match_result_path(@league), class: "button" %>
      </div>
    <% end %>
  </div>
  <div class="6u$ 12u$(xsmall)">
  <h2>Standings</h2>
  <div class="table-wrapper">
    <table class="standings">
      <thead>
        <tr>
          <th></th>
          <th>Position</th>
          <th>Name</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @league.players.order(rating: :desc).each_with_index do |player, index| %>
        <tr>
          <td style="background: url(<%= player.user.gravatar_url(size: 40, default: "mm") %>) no-repeat center"></td>
          <td class="position"><%= index + 1 %></td>
          <td class="name"><%= player.user.first_name %> <%= player.user.last_name %></td>
          <td class="rating"><%= player.rating %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<% if @player.owner %>
<script language="javascript">
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  $(document).ready(function() {
      $('#invite-user').attr('disabled','disabled');
      $('input#email').keyup(function() {
          if ($(this).val().match(re)) {
            $('#invite-user').removeAttr('disabled');
          } else {
            $('#invite-user').attr('disabled','disabled');
          }
      });
  });
</script>
<% end %>