<h2><%= @league.name %></h2>

<% if @league.website_url %>
  <%= link_to "Website", @league.website_url %>
<% end %>

<% if @league.logo_url %>
  <img src="<%= @league.logo_url %>" />
<% end %>

<section>
  <p><%= @league.description %></p>
</section>

<section>
  <h3>Rules</h3>
  <p><%= @league.rules %></p>
</section>

<div class="actions">
  <%= link_to "Edit", edit_league_path(@league) %>
</div>

<% if @player.owner %>
  <%= form_tag(league_invite_path(@league), method: "post") do %>
    <%= label_tag(:email, "Invite user:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Invite") %>
  <% end %>
<% end %>

<section>
  <h3>Rankings</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Rating</th>
    </tr>
    <% @league.players.order(rating: :desc).each do |player| %>
    <tr>
      <td><%= player.user.first_name %> <%= player.user.last_name %></td>
      <td><%= player.rating %></td>
    </tr>
    <% end %>
  </table>
</section>
