
<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h1>ELO: <span>The golden standard in<br />
      league ranking systems</span></h1>
      <ul class="actions">
        <li><%= link_to "Get Started", leagues_path, class: "button alt" %></li>
      </ul>
    </div>
  </section>

<!-- One -->
  <section id="one">
    <div class="inner">
      <header>
        <h2>Player ratings for your league</h2>
      </header>
      <p>Register your league today and start tracking player performance for all of your players using the ELO ranking system - the same system used by FIDE, the US Chess Federeation, Major League Baseball, and many other gaming leagues. Players create their own accounts, add their match results and automatically get their ratings based on the strength of the players they've won and lost against.</p>
      <ul class="actions">
        <li><a href="#" class="button alt">Register Your League</a></li>
      </ul>
    </div>
  </section>

<!-- Two -->
  <section id="two">
    <div class="inner">
      <article>
        <div class="content">
          <header>
            <h3>Any game or sport</h3>
          </header>
          <div class="image fit">
            <%= image_tag("soccer-sm.jpg") %>
            </div>
          <p>The ELO rating system is versatile enough to work with any game or sport. As long as you can record a winning player or team, you can get ratings!</p>
        </div>
      </article>
      <article class="alt">
        <div class="content">
          <header>
            <h3>New player friendly</h3>
          </header>
          <div class="image fit">
            <%= image_tag("bowling-sm.jpg") %>
          </div>
          <p>New players can join at any time without being disadvantaged. The rating system automatically readjusts its calculations for new and veteran players.</p>
        </div>
      </article>
    </div>
  </section>

<!-- Three -->
  <section id="three">
    <div class="inner">
      <article>
        <div class="content">
          <span class="icon fa-home"></span>
          <header>
            <h3>Amateur Plan</h3>
          </header>
          <p>Track ratings for one league and up to 10 players. Not a trial - just free, forever.</p>
          <ul class="actions">
            <li><a href="<%= home_plans_path %>" class="button alt">Learn More</a></li>
          </ul>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="icon fa-paper-plane"></span>
          <header>
            <h3>Pro Plan</h3>
          </header>
          <p>Unlimited leagues and players and more player metrics for as little as $1 per player, per month.</p>
          <ul class="actions">
            <li><a href="<%= home_plans_path %>" class="button alt">Learn More</a></li>
          </ul>
        </div>
      </article>
      <article>
      <div class="content">
          <span class="icon fa-database"></span>
          <header>
            <h3>Enterprise Plan</h3>
          </header>
          <p>Includes unlimited leagues and players, API access, advanced metrics, and premium support.</p>
          <ul class="actions">
            <li><a href="<%= home_plans_path %>" class="button alt">Learn More</a></li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  