<section class="player-section player-glance">
  <div class="row">
    <div class="4u 12u$(xsmall) player-info">
      <div class="avatar"><img src="<%= @player.user.gravatar_url(size: 180, default: "mm") %>"></div>
      <h1><%= @player.name %></h1>
    </div>
    <div class="8u 12u$(xsmall)">
      <table>
        <tbody>
          <tr>
            <th>Rating</th>
            <td><%= @player.rating %></td>
          </tr>
          <tr>
            <th>Position</th>
            <td><%= position_in_league || "Play a game first!" %></td>
          </tr>
          <tr>
            <th>Games Played</th>
            <td><%= @rating_histories.count %></td>
          </tr>
          <tr>
            <th>Days since last game</th>
            <td><%= days_since_played || "N/A" %></td>
          </tr>
          <tr>
            <th>Streak</th>
            <td>
              <% if winning_streak.positive? %>
                <%= "Won #{winning_streak} in a row " %>
              <% elsif winning_streak.negative? %>
                <%= "Lost #{winning_streak.abs} in a row" %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Pro?</th>
            <td><%= @player.pro ? "Yes" : "No" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="player-section player-charts">
  <h3>Rating History</h3>
  <% if rating_histories_chart_data && rating_histories_chart_options %>
    <div class="chart-container">
      <%= line_chart rating_histories_chart_data, rating_histories_chart_options %>
    </div>
  <% else %>
    <div class="no-result">No matches yet :(</div>
  <% end %>
</section>

<section class="player-section player-match-history">
  <h3>Match History</h3>
  <% if @rating_histories.any? %>
    <table class="match-history">
      <thead>
        <tr>
          <th>Date</th>
          <th>Outcome</th>
          <th>New Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @rating_histories.order(created_at: :desc).each do |rating_history| %>
          <tr>
            <td><%= rating_history.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
            <td><%= rating_history.outcome.humanize %> against <%= rating_history.opponent.name %></td>
            <td><%= rating_history.rating_after %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"></td>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <div class="no-result">No matches yet :(</div>
  <% end %>
</section>
